{% extends 'Guest/Head.html' %}
{% load static %}
{% block content %}

<html>

<head>
    <title>Company Registration</title>
</head>

<body>
    <br><br><br><br>
<div id="tab" align="center">
    <form action="" method="post" enctype="multipart/form-data" id="CompanyForm" data-places-url="{% url 'webguest:Ajax_Place' %}">
        {% csrf_token %}
        <table border="11" align="center">
            <tr>
                <td>Company Name</td>
                <td><input type="text" name="txt_name" id="" autocomplete="off" placeholder="Enter Company name" required=""></td>
            </tr>
            <tr>
                <td>Company Contact</td>
                <td><input type="text" name="txt_contact" id="" autocomplete="off" placeholder="Enter Contact" required=""></td>
            </tr>
            <tr>
                <td>Company Email</td>
                <td><input type="text" name="txt_email" id="" autocomplete="off" placeholder="Enter Email" required=""></td>
            </tr>
            <tr>
                <td>Company Address</td>
                <td><textarea name="txt_address" id="" cols="30" rows="10" autocomplete="off" placeholder="Enter Address" required=""></textarea></td>
            </tr>
            <tr>
                <td>District</td>
                <td><select name="sel_district" id="dist" required="">
                        <option value="">-----Select-----</option>
                        {% for i in DS %}
                        <option value="{{i.id}}">{{i}}</option>
                        {% endfor %}
                    </select></td>
            </tr>
            <tr>
                <td>Place</td>
                <td><select name="sel_place" id="plc" required="">
                        <option value="">-----Select-----</option>
                    </select></td>
            </tr>
            <tr>
                <td>Company Logo</td>
                <td><input type="file" name="txt_logo" id=""></td>
            </tr>
            <tr>
                <td>Company Proof</td>
                <td><input type="file" name="txt_proof" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="txt_password" id="" autocomplete="off" placeholder="Enter Password" required=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="save" value="Save">
                    <input type="reset" name="cancel" value="Cancel">
                </td>
            </tr>
        </table>
    </form>
</body>

</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#dist").change(function () {
        var did = $(this).val();
        var ur = $("#CompanyForm").attr("data-places-url");
        $.ajax({
            url: ur,
            data: { DIST: did, },
            success: function (data) {
                $("#plc").html(data);
            },
        });
    });
</script>



<br><br><br><br><br><br><br>

{% endblock content %}