{% extends 'Company/Head.html' %}
{% load static %}
{% block content %}

<head>
    <title>Change Company Password</title>
</head>

<body>
    <br><br><br><br>
<div id="tab" align="center">
    <form action="" method="post">
        {% csrf_token %}
        <table border="11" align="center">
            <tr>
                <td>Current Password</td>
                <td><input type="text" name="txt_curpassword" id="" autocomplete="off" placeholder="Enter current password" required=""></td>
            </tr>
                <td>New Password</td>
                <td><input type="text" name="txt_nwpassword" id="" autocomplete="off" placeholder="Enter new password" required=""></td>
            <tr>
            </tr>
                <td>Confirm Password</td>
                <td><input type="text" name="txt_cwpassword" id="" autocomplete="off" placeholder="Enter confirmed password" required=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="txt_save" value="Change">
                    <input type="reset" name="txt_cancel" value="Cancel">
                    </td>
            </tr>
            <table>
                {{ER}}
    </form>
</div>
    <body>
        <html>



        <br><br><br><br><br><br><br>

{% endblock content %}