{% extends 'Company/Head.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <title>Company Profile</title>
    </head>
    <br><br><br><br>
<div id="tab" align="center">
<form action="" method="GET">
    {% csrf_token %}
    <table border="11" align="center">
        <tr>
           </tr>

                <td colspan="2" align="center"><img src="{{USR.company_logo.url}}" alt="img" width="120px" height="120px" style="border-radius: 60px;"></td>
                </td>
            <tr>
        <tr>
            <td>Name</td>
            <td>{{USR.company_name}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{USR.company_contact}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{USR.company_email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{USR.company_address}}</td>
        </tr>
         <tr>
            <td>District</td>
            <td>{{USR.place.district}}</td>
        </tr>
        <tr>
            <td>Place</td>
            <td>{{USR.place}}</td>
        </tr>
    </table>
</form>
</div>
</body>

</html>

<br><br><br><br><br><br><br>

{% endblock content %}