{% extends 'Company/Head.html' %}
{% load static %}
{% block content %}
<html>

<head>
    <title>Placements</title>
</head>

<body>
    
<br><br><br><br>
<div id="tab" align="center">
    <form action="" method="post">
        {% csrf_token %}
        <table border="10" align="center">
            <tr>
                <td>Title</td>
                <td><input type="text" name="txt_title" id="" autocomplete="off" placeholder="Enter title" required=""></td>
            </tr>
            <tr>
                <td>Designation</td>
                <td><select name="sel_designation" id="" required="">
                <option value="">------select------</option>
                {% for i in DSGN %}
                    <option value="{{i.id}}">{{i.designation_name}}</option>
                {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Date</td>
                <td><input type="date" name="txt_date" id="" autocomplete="off" placeholder="Enter date" required=""></td>
            </tr>
            <tr>
                <td>Salary</td>
                <td><input type="salary" name="txt_salary" id="" autocomplete="off" placeholder="Enter salary" required=""></td>
            </tr>
                <td>Details</td>
                <td><textarea name="txt_details" cols="20" rows="5" autocomplete="off" placeholder="Enter details" required=""></textarea></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" name="submit" value="Save">
                <input type="reset" name="Cancel" value="Cancel"></td>
            </tr>
        </table>
        <br><br>
        <table align="center" border="1">
             <tr>
                <td>SI NO.</td>
                <td>Title</td>
                <td>Designation</td>
                <td>Date</td>
                <td>Salary</td>
                <td>Details</td>
                <td>Action</td>
             </tr>
             {% for i in PLC %}
             <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.plc_title}}</td>
                <td>{{i.plc_designation}}</td>
                <td>{{i.plc_date}}</td>
                <td>{{i.plc_salary}}</td>
                <td>{{i.plc_details}}</td>
                <td><a href="{% url 'webcompany:Del_Placements' i.id %}">Delete</a></td>
             </tr>
             {% endfor %}
        </table>
    </form>
</div>
</body>
</html>


<br><br><br><br><br><br><br>

{% endblock content %}
