{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}


<html>
<head>
    <title>User Verification</title>
</head>
<body>
    <br><br><br><br>
<div id="tab" align="center">
    <form action="" method="post">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>SI No</td>
                <td>Username</td>
                <td>Contact</td>
                <td>Email</td>
                <td>Address</td>
                <td>Department</td>
                <td>Course</td>
                <td>Graduation</td>
                <td>Photo</td>
                <td>Proof</td>
                <td>District</td>
                <td>Place</td>
                <td>Action</td>
            </tr>
            {% for i in UV %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.user_name}}</td>
                <td>{{i.user_contact}}</td>
                <td>{{i.user_email}}</td>
                <td>{{i.user_address}}</td>
                <td>{{i.user_course.department}}</td>
                <td>{{i.user_course}}</td>
                <td>{{i.user_graduation}}</td>
                <td><img src="{{i.user_photo.url}}" alt="img" width="120px" height="120px"></td>
                <td><img src="{{i.user_proof.url}}" alt="img" width="120px" height="120px"></td>
                <td>{{i.place.district}}</td>
                <td>{{i.place}}</td>
                <td><a href="{% url 'webadmin:reject_user' i.id %}">Reject</a></td>       
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
</body>
</html>



<br><br><br><br><br><br><br><br><br><br>

 {% endblock content %}
